

.header { 
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    // ALL NAVBAR CONTAINER 
    .header_nav_elements {
        font-weight: 300; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }

        //    ALL LINKS ON NAV 
        .header_nav { 
        display: flex;
        gap: 13px;

        .links
        {color: $color_gray;
            text-decoration: none;
            transition-duration: 0.6s;
         &:hover {
                color: $color_white;}}
            
            .dots { 
                color: $color_gray;           
            }
            
            }



        
        

            // FA & BUTTON 

        .FAQ_get_started { 
            font-weight: 600;
            display: flex;
            gap: 30px;
            align-items: center;
            

            .link { 
                font-family: "Noto Sans", sans-serif;
                font-size: 1.1em;
                color: $color_white;
                text-decoration: none;
                border: solid $color_blue $border_size_button;
                border-radius: $rad_size_button;
                padding: $pd_size_button;
                padding-left: $pd_left_right_button;
                padding-right: $pd_left_right_button;
                background:$color_blue ; }}



    // LOGO 
.logo_container {
    display: flex;
    align-items: center;
    background-color: #000;

.logo_class { 
    width: 90px;}}

// NAVBAR MEDIA 

@media screen and (min-width: $mobile_small) and (max-width: $tablet_medium) { 
    
    display: flex;
    .header_nav { 
        display: none;}

    .FAQ_get_started { 
        display: none;
    }}}