.article_header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 510px;
  

  @media screen and (min-width: $mobile_small) and (max-width: $tablet_small) {
    display: flex;
    gap: 20px;
    min-height: 610px;
  }

  //     ALL CONTENT CONTAINER
  .header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media screen and (min-width: $mobile_small) and (max-width: $desktop_small) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    //            TITLE

    .header_content_title {
      font-size: 2.8em;
      font-weight: 100;
      letter-spacing: 0.3px;
      h1 {
        font-weight: 600;
      }
      .gray {
        color: $color_gray;
      }

      @media screen and (min-width: $mobile_small) and (max-width: $tablet_small) {
        display: flex;
        font-size: 2.5em;
        text-align: center;
      }
    }

    //               PARAGRAPHS

    .under_title {
      letter-spacing: 0.2px;
      font-size: 1.4em;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: $mobile_small) and (max-width: $tablet_small) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2em;
        align-items: center;
        text-align: center;
      }
    }

    //                  BUTTON
    .link_get_started_button {
      padding-top: 40px;

      .get_started_content_button {
        font-weight: 300;
        font-size: 1.1em;
        text-decoration: none;
        color: $color_white;
        border: solid $color_blue $border_size_button;
        padding: $pd_size_button;
        padding-left: $pd-left_right_button;
        padding-right: $pd_left_right_button;
        border-radius: $rad_size_button;
        background-color: $color_blue;
      }
    }
  }
}
