@import "../sass/vars.scss";
@import "../sass/article.scss";
@import "../sass/header-nav.scss";
@import "../sass/header_content.scss";
@import "./footer.scss";



@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color_black;
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
  color: $color_white;
}

// WEB CONTAINER
.container {
  display: flex;
  gap: 35px;
  flex-direction: column;

  @media screen and (min-width: $mobile_small) and (max-width: $tablet_medium) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

// GRID MARGINS

.grid_father {
  display: grid;
  grid-template-columns: 80px 1fr 80px;

  @media screen and (min-width: $mobile_small) and (max-width: $tablet_medium) {
    grid-template-columns: 30px 1fr 30px;
  }

  @media screen and (min-width: $tablet_medium) and (max-width: $desktop_small) {
    grid-template-columns: 80px 1fr 80px;
  }

  @media screen and (min-width: $desktop_small) {
    grid-template-columns: 100px 1fr 100px;
  }
}

.grid_son {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}
