
// COLORS 
$color_white: #fff;
$color_gray: #a1a0a0;
$color_blue: #0566ba;
$color_black: #000;

// BORDER SIZE
$border_size_button: 4px;

// PADDING SIZE
$pd_size_button:10px;
$pd_left_right_button:40px;

// RADIUS SIZE
$rad_size_button:70px;

//MEDIAS SIZES 
$mobile_small : 375px;
$mobile_medium: 420px;
$mobile_big: 500px;
$tablet_small: 720px;
$tablet_medium: 900px;
$desktop_small: 1024px;
$desktop_medium: 1440px;
$desktop_big: 1900px;
