

.header { 
     
    // ALL NAVBAR CONTAINER 
    .header_nav_container {
        font-weight: 300; 
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center; 
        padding-top: 29px;}

        //    ALL LINKS ON NAV 
        .header_nav { 
        display: flex;
        gap: 13px;

        .links
        {color: $color-gray;
            text-decoration: none;
            transition-duration: 0.6s;
         &:hover {
                color: $color-white;}}


                         //NAVBAR DOTS 
            .dots{
            color: $color-gray ;
        text-decoration: none;}}

        
        

            // FA & BUTTON 

        .FAQ_get_started { 
            font-weight: 600;
            display: flex;
            gap: 30px;
            align-items: center;

            .link { 
                color: $color-white;
                text-decoration: none;
                border: solid $color-blue $border-size_button;
                border-radius: $Rad-size_button;
                padding: $pd-size_button;
                padding-left: $pd-L-R_button;
                padding-right: $pd-L-R_button;
                background:$color-blue ; }}



    // LOGO 
.logo_container {
    display: flex;
    align-items: center;
    background-color: #000;

.logo_class { 
    width: 90px;}}

// NAVBAR MEDIA 

@media screen and (min-width: $mobile-small) and (max-width: $tablet-medium) { 
    
    display: flex;
    .header_nav { 
        display: none;}

    .FAQ_get_started { 
        display: none;
    }}}