





// COLORS 
$color-white: #fff;
$color-gray: #a1a0a0;
$color-blue: #0566ba;
$color-black: #000;





// BORDER SIZE
$border-size_button: 4px;


// PADDING SIZE
$pd-size_button:10px;
$pd-L-R_button:40px;


// RADIUS SIZE
$Rad-size_button:70px;


//MEDIAS SIZES 

$mobile-small : 375px;
$mobile-medium: 420px;
$mobile-big: 500px;
$tablet-small: 720px;
$tablet-medium: 900px;
$desktop-small: 1024px;
$desktop-medium: 1440px;
$desktop-big: 1900px;
