





// COLORS 
$color-white: #fff;
$color-gray: #a1a0a0;
$color-blue: #0566ba;
$color-black: #000;

// GAP 

$card-gap: 30px;

// CARD SIZES 
$card_size: 430px;
$card-height: 256px;



// BORDER SIZE
$card-bord:2px;
$b-size: 4px;

// PADDING SIZE

$pd-size:10px;
$pd-L-R:40px;
$card-pad:30px;


// RADIUS SIZE
$Rad-size:70px;
$card-rad:20px;

//MEDIAS SIZES 

$mobile-small : 375px;
$mobile-medium: 420px;
$mobile-big: 500px;
$tablet-small: 720px;
$tablet-medium: 900px;
$desktop-small: 1024px;
$desktop-medium: 1440px;
$desktop-big: 1900px;
